<div class="title">
  <h1>Stupid Coach Response</h1>
</div>

<div class="question">
  <p><%= @question.capitalize %></p>
</div>

<div class="answer">
  <p><%= @answer.capitalize %></p>
</div>

<div class="link">
  <button class="btn btn-primary"> <%= link_to "Ask a new question", questions_ask_path %> </button>
</div>
