<h1>Welcome to Stupid Coach</h1>

<form action="/questions/answer" method= "get" data-turbo="false">
  <input type="text" name="question" placeholder= "Ask your question">
  <input type="submit" value="Ask!">
</form>
