<div class="title">
  <h1>Welcome to Stupid Coach</h1>
</div>

<div class="form-group">
  <form action="/questions/answer" method= "get" data-turbo="false">
    <input type="text" name="question" placeholder= "Ask your question" class="form-control .form-control-lg">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
