/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.form-control {
  margin-bottom: 15px;
  width: 400px !important;
}

.btn .btn-primary {
  color: white;
}

.form-group {
  margin: 20px auto;
  padding: 10px;
  width: 600px;
  background-color: beige;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.question {
  margin: 20px auto;
  padding: 10px;
  background-color: beige;
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer {
  margin: 20px auto;
  padding: 10px;
  background-color: beige;
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.title {
  margin: 20px auto;
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin: 20px auto;
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white !important;
  text-decoration: none !important;
}

p{
  margin: 0 !important;
}
